/* POSITIONING */

.centered {
	margin-left: auto;
	margin-right: auto;
}

.center-text {
	text-align: center;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear-float::after {
	display: block;
	content: "";
	clear: both;
}

/* END POSITIONING */